.email-form {
  display: flex;
  align-items: center;
  max-width: 472px;
  width: 100%;
  height: 58px;

  &--footer {
    max-width: 627px;

    .email-form__input {
      max-width: 509px;
      color: $colorWhite;
      background-color: rgba(255, 255, 255, 0.15);

      &-container {
        width: 100%;
      }

      &-label {
        font-size: 18px;
        color: $colorWhite;
      }
    }

    .email-form__button {
      color: $colorDarkViolet;
      background-color: $colorWhite;
    }
  }

  &__input {
    max-width: 354px;
    width: 100%;
    padding: 17px 32px;
    background-color: $colorLight;
    @include media(max, 330) {
      padding: 17px 20px;
    }

    &-container {
      position: relative;
    }

    &-label {
      position: absolute;
      top: 17px;
      left: 32px;
      font-size: 16px;
      color: $colorPrimary;
      pointer-events: none;
      transition: all .3s ease;
      @include media(max, 330) {
        top: 17px;
        left: 20px;
      }

      &.active {
        top: 5px;
        left: 20px;
        font-size: 12px;
      }
    }
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: -25px;
    color: red;
  }

  &__button {
    max-width: 118px;
    width: 100%;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 150%;
  }
}