// color
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlackViolet: #22202e;
$colorLightViolet: #726e8d;
$colorDarkViolet: #2a254b;
$colorLight: #f9f9f9;
$colorBlue: #505977;
$colorPrimary: #4e4d93;
$colorGrey: #ebe8f4;

// fonts
$fontSatoshi: 'Satoshi', sans-serif;
$fontClashDisplay: 'ClashDisplay', sans-serif;